<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/LogIn/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/LogIn/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/LogIn/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/LogIn/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/LogIn/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/LogIn/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/LogIn/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/LogIn/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body style="background-color: #FEFFFF;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form method="post" class ="login100-form validate-form" >
					<span class="login100-form-title p-b-43">
						Welcome to Onsite
					</span>

                    {% csrf_token %}
						{% include 'includes/form.html' %}





					<div class="container-login100-form-btn">
						<button type = "submit" class="login100-form-btn">
							Sign Up
						</button>

					</div>

					<span class="login100-form-title p-b-43" style="color: grey; padding-top: 10%; font-size:125%;">
						Welcome {{profile.business_name}},
						please provide additional information to continue to dashboard
					</span>




				</form>

				<div class="login100-more" style="background-image: url('{% static 'images/1.jpg' %}');">
				</div>
			</div>
		</div>
	</div>





<!--===============================================================================================-->
	<script src="{% static 'vendor/LogIn/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/LogIn/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/LogIn/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/LogIn/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/LogIn/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/LogIn/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/LogIn/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/LogIn/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/LogIn/js/main.js' %}"></script>

</body>
</html>